/* fonte: https://www.youtube.com/watch?v=3FJgGw_ESEc fiquei no minuto 20:30 */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


/* estilizar a root */
:root {
    --main-color: #d9d9d9;
    --color-dark: #0e21a0;
    --text-grey: #8390a2;
}

* {
    font-family: sora;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}


#sidebar-toggle {
    display: none;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--color-dark);
    color: white;
}

.logo img {
    height: 30px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.sidebar-menu {
    padding: 1rem;
}

.sidebar-menu li {
    margin-bottom: 1.2rem;
}

.sidebar a {
    color: white;
    font-size: 0.9rem;
}

.sidebar a span:first-child {
    padding: 0rem 1rem;

}

.sidebar a span:last-child {
    padding-left: 0.6rem;
}

/* desativa e ativa a sidebar */
#sidebar-toggle:checked ~ .sidebar {
    width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
    left: 60px;
}


.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0e21a0;
    transition: left 500ms;
}

.search-wrapper {
    display: flex;
}

.search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 40px;
}

.social-icons {
    display: flex;
}

.social-icons span,
.social-icons div {
    margin-left: 1rem;
}

.social-icons div {
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/avatar3.png);
    border-radius: 50%;
}

main {
    margin-top: 60px;
    background: var(--main-color);
    min-height: 90vh;
    padding: 1rem 3rem;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3rem;
}

.card-single {
    background: white;
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
}

.card-body span {
    font-size: 1rem;
    color: #9d44c0;
    padding-right: 1rem;
}

.card-body h5 {
    color: var(--text-grey);
    font-size: 0.8rem;
}

.card-body h4 {
    color: #9d44c0;
    font-size: 0.9rem;
    margin-top: 0.1rem;
}

.card-footer {
    padding: .2rem 1rem;
    background: var(--text-grey);
    border-radius: 2px 7px;
    align-items: center;
}

.card-footer a {
    color: var(--color-dark);
    font-weight: bold;
    font-size: 0.9rem;
}

.recent {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 1.5rem;
}

.activity-card,
.summary-card,
.bday-card {
    background: white;
    border-radius: 7px;
    
}

.activity-card h3 {
    color: var(--text-grey);
    margin: 1rem;
}

.activity-card table {
    width: 100%;
    border-collapse: collapse;
}

.activity-card thead {
    background: var(--text-grey);
    text-align: left;
}

th, td {
    font-size: 0.9rem;
    padding: 1rem 1rem;
    color: var(--color-dark);
} 

td {
    font-size: 0.8rem;
}

tbody tr:nth-child(even) {
    background: whitesmoke;
}

.badge {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: 700;
    font-size: 0.7rem;
}

.badge.sucess {
    background-color: #9d44c0;
    color: white;
}

.badge.warning {
    background-color: cyan;
    color: orange;
}

.td-team {
    display: flex;
    align-items: center;
}

.img-1, .img-2, .img-3 {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-left: -10px;
    border: 2px solid var(--text-grey);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-1 {
    background-image: url(/images/avatar1.png);
}

.img-2 {
    background-image: url(/images/avatar2.png);
}

.img-3 {
    background-image: url(/images/avatar3.png);
}

.summary-card,
.bday-card {
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.summary-single {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.summary-single span {
    font-size: 1.5rem;
    color: #9d44c0;
    padding-right: 1rem;
}

.summary-single h5 {
    color: var(--color-dark);
    font-size: 1.1rem;
    margin-bottom: 0rem !important;
}

.summary-single small {
    font-weight: 700;
    color: var(--text-grey);
}

.bday-flex {
    display: flex;
    align-items: center;
}

.bday-flex {
    padding: 1rem;
    margin-bottom: 0.3rem;
}

.bday-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: -10px;
    border: 2px solid var(--text-grey);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/user.png);
    margin-left: 0rem;
    margin-right: 1rem;
}

.text-center {
    text-align: center;
}

.text-center button {
    background-color: #9d44c0;
    color: white;
    border: 1px solid #9d44c0;
    border-radius: 5px;
    padding: .5rem 1rem;
}

.responsive-table {
    overflow-x: auto;
}

/* media screens */
@media only screen and (max-width: 1200px) {
    /* desativa e ativa a sidebar */
    .sidebar {
        width: 60px;
        z-index: 150;
    }

    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child {
        display: none;
    }

    .sidebar .sidebar-header,
    .sidebar .sidebar li {
        display: flex;
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }

    .main-content header {
        left: 60px;
        width: calc(100%-60px);
    }

    
    /* desativa e ativa a sidebar */
    #sidebar-toggle:checked ~ .sidebar {
        width: 240px;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
    #sidebar-toggle:checked ~ .sidebar li span:last-child {
        display: inline;
    }

    #sidebar-toggle:checked ~ .sidebar .sidebar-header {
        display: flex;
        justify-content: space-between;
    }

    #sidebar-toggle:checked ~ .sidebar li {
        display: block;
        
    }

    #sidebar-toggle:checked ~ .main-content {
        margin-left: 60px;
    }

    #sidebar-toggle:checked ~ .main-content header {
        left: 60px;
    }
}

@media only screen and (max-width: 950px) {
    .dash-cards {
        grid-template-columns: repeat(2, 2fr);
        /*grid-template-columns: 100%;*/
    }

    .card-single {
        margin-bottom: 1rem;
    }

    .activity-grid {
        display: block;
    }

    .summary {
        margin-top: 1.5rem;
    }
}
    
@media only screen and (max-width: 600px) {
    .dash-cards {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 450px) {
    .main {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
    
