
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

@font-face {
    font-family: sora_medium;
    src: url(/fonts/Sora-Medium.otf)
}

body {
    background-color: #9d44c0
}


.carousel-inner h5 {
    font-family: kola;
    color:#0e21a0;
    font-size: xxx-large;
    font-weight: bold;
   letter-spacing: 0.3em;
}

.container-slide {
   margin-top: 0%;
   margin-bottom: 5%;
   position: relative;
   display: flexbox;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.container-numbers {
    background-color: #0e21a0;
}
.container-numbers p {
    font-family: kola;
    font-weight: bolder;
    font-size:x-large;
    color: #d9b967;
}

.display-2 {
    font-family: kola;
    font-weight: bolder;
    font-size:x-large;
    color: white;
    text-shadow: #0e21a0;
}


.esmad-tour {
    background-color: #9d44c0; 
}

.row-tour {
    margin-top: 5%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-tour h3,h1 {
    color: white;
    font-family: kola;
    font-size: large;
}

.row-tour h1 {
    color: white;
    font-family: kola;
    font-size: x-large;
}

.map-image {
    margin: 5%;
    width: 90%;
}



/* estilização do modal tour virtual */
.modal-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #9d44c0;
    
}
.modal-header img {
    width: 8%;
    margin-left: 30%;
}


.modal-footer   {
    background-color: transparent;
    border: none;
    display:flex;
    flex-direction: column;
}

.modal-footer-button {
    margin-top: 0%;
    background-color: #9d44c0;
}

.modal-body img {
    margin-top: 5%;
    width: 100%;
}