
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

@font-face {
    font-family: kola;
    src: url(.//fonts/Kola-Regular.ttf)
}

body {
    background-color: #9d44c0;
}





