
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

@font-face {
    font-family: kola;
    src: url(.//fonts/Kola-Regular.ttf)
}

.container-slide {
    position: relative;
   display: flexbox;
   justify-content: center;
   align-items: center;
   width: 100%;
   


}