/* importar a fonte a usar */
@font-face {
    font-family: sora_extra_bold;
    src: url(/fonts/Sora-ExtraBold.otf)
}

@font-face {
    font-family: sora_bold;
    src: url(/fonts/Sora-Bold.otf)
}



body {
    background-color: #9d44c0;
}

.container {
    margin-top: 80px;
}

.teachers-container .row {
    margin: 20%;
    display: flex;
    flex-flow: row wrap;

}

.col-50 {
    width: 50%;
}

.teachers-img {
   border-radius: 5%;
   margin-top: 10%;
   width: 100%;
   margin-bottom: 5%;
}

.teachers-vision {
    max-width: 100%;
    font-family: sora;
    font-size: 45px;
    color: #d9b967;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 20%;
    margin-left: 15%;
}


.teachers-name {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: sora;
    font-size: 35px;
    font-family: sora;
    color: white;
    text-align: center;
}

.tsiw-name {
    margin-top: 5px;
    font-family: sora;
    font-size: 30px;
    font-family: sora;
    color: white;
    text-align: center;
}

.line {
    color: #0e21a0;
    border-top: 4px solid;
}

.sylabus-container {
    margin: 5%;
}

.sylabus-container-title {
    font-family: sora;
    font-size: 40px;
    font-weight: bold;
    color:#d9b967;
    text-align: center;
}

.card {
    margin: 1%;
}

.card-title {
    font-family: sora;
    font-size: large;
    font-weight: bold;
    color:#0e21a0;
    text-align: center;
    margin-top: 1%;
    border-radius: 5%;
}

.card-body span{
    font-family: sora;
    font-size:medium;
    font-weight: bold;
    color:#d9b967;
}

.card-text {
    margin-top: 5%;
    font-family: sora;
    font-size:medium;
    font-weight: bold;
    color:#0e21a0;
}

.btn-container {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bntativity button {
    width: 200%;
    margin-left: -50%;
    border: none;
    outline: 0;
    color: #0e21a0;
    text-align: center;
    cursor: pointer;
    font-family: sora_bold;
    font-size: 20px;
    padding: 10px 20px;
    border: solid 1px #0e21a0;
    border-radius: 15px;
    background-color: #d9b967;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.bntativity button:hover {
    background-color: #0e21a0;
    border: solid 1px #9d44c0;
    color: #d9b967;
    transform: scale(1.1);
}