/* importar a fonte a usar */
@font-face {
    font-family: sora_bold;
    src: url(/fonts/Sora-Bold.otf)
}


/* formatar o footer do index.html */
footer {
    position: relative;
    width: 100%;
    background: #0e21a0;
    max-height: 300px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* formatar a class contacts */
footer .contacts {
    font-family: sora_bold;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1em; 
}

/* formatar a class social_icon e class menu do footer do index.html */
footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

/* formatar os li das duas ul's do footer do index.html */
footer .social_icon li,
footer .menu li {
    list-style: none;
}

/* formatar os a dos li da 1ª ul do footer do index.html */
footer .social_icon li a {
    font-size: 1.5em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

/* animação hover dos icons no footer */
footer .social_icon li a:hover{
    transform: translateY(-10px);
    color: #d9b967;
} 

/* formatar os a dos li da 2ª ul do footer do index.html */
footer .menu li a {
    font-size: 0.8em;
    font-family: sora_bold;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

/* animação hover dos nav links no footer */
footer .menu li a:hover{
    opacity: 1;
    color: #d9b967;
    font-size: 0.9em;
} 

/* formatar o paragrafo copyright do footer */
footer p {
    font-family: sora_bold;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 0.8em;   
}




