
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');

@font-face {
    font-family: kola;
    src: url(.//fonts/Kola-Regular.ttf)
}

body {
    background-color: #d9b967;
}


/* definir a cor de background da navbar */
.container-fluid {
    background-color: #0e21a0;
}

/* para dispor itens da navbar em linha */
.navbar {
    display:inline;
}

/* para colocar a lista não ordenada de links de navegação sem estilo */
.navbar-nav {
    list-style-type: none;
}

/* estilizar os links de navegação na navbar */
.nav-link {
    font-family: kola;
    font-weight:400;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    color: #d9b967;
}

/* estilizar os links de navegação navbar em hover */
.nav-link:hover {
    color: #9d44c0;
    text-decoration: none;
}

/* para definir a animação do underline nos links de navegação da navbar */
.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -2px;
    left: 0;
    background-color: #9d44c0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

/* tornar ativa a visualização do underline dos links de navegação quando em hover */
li.active .nav-link:before,
.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* estilização da caixa search */
.form-control {
    font-family: kola;
    font-weight:300;
    font-size: 15px;
    border-radius: 5px;
    border-width: 2px;
    border-color: #d9b967;
}

/* estilização do botão login */
.button-submit {
    font-family: kola;
    font-weight:300;
    font-size: 15px;
    background-color: #d9b967;
    color: #0e21a0;
    border-radius: 5px;
    border-width: 2px;
    border-color: #d9b967;
}


/* estilização do footer */
footer {
    margin: 0;
    background-color: #0e21a0;
    font-family: kola; 
}

.footer-brand {
    margin-left: -10px;
}

.footer-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-left: -30px;
}

.footer-link {
    display: flex;
    color: #0e21a0;
    letter-spacing: 3px;
    text-shadow: #d9b967 0.1em 0.1em ;
    text-align: center;
    font-size: large;
    font-weight:400;
}

.media-link{
    color: #d9b967;
    font-weight: bolder;
    margin-top: 10%;
    transition: all 0.5s;
    list-style-type: none; 
}

.media-link:hover {
    color: goldenrod;
    text-shadow: white 0.1em 0.1em 0.2em;
    
}

.campus-link{
    color: #4d2db7;
    font-weight: bold;
    margin-top: 20%;
    margin-left: -15%;
    list-style-type: none; 
}

.campus-link:hover{
    background: -webkit-linear-gradient(yellow, goldenrod, black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sylabus-link {
    color: #4d2db7;
    font-weight: bold;
    margin-top: 20%;
    margin-left: -15%;
    list-style-type: none;  
}

.sylabus-link:hover{
    background: -webkit-linear-gradient(yellow, goldenrod, black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alumni-link{
    color: #4d2db7;
    font-weight: bold;
    margin-top: 20%;
    margin-left: -15%;
    list-style-type: none; 
}

.alumni-link:hover{
    background: -webkit-linear-gradient(yellow, goldenrod, black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.career-link {
    color: #4d2db7;
    font-weight: bold;
    margin-top: 20%;
    margin-left: -15%;
    list-style-type: none; 
}

.career-link:hover{
    background: -webkit-linear-gradient(yellow, goldenrod, black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.adress-list {
    list-style-type: none;
}

.adress-list li {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 3px;
    margin-top: 5%;
    margin-left: -50%;
}

.media-links{
    display: flex;
    margin-top: 10px;
    margin-left: -40px;
    column-gap: 3px;
}

.media-icon{
    width: 30px;
    height: auto;
    border-radius: 50%;
    opacity: 1;
}

.media-icon:hover{ /* definir opacidade para todos os icons on hover */
    opacity: 0.5;
}