

@font-face {
  font-family: sora_extra_bold;
  src: url(/fonts/Sora-ExtraBold.otf)
}

@font-face {
  font-family: sora_bold;
  src: url(/fonts/Sora-Bold.otf)
}

@font-face {
  font-family: sora_medium;
  src: url(/fonts/Sora-Medium.otf)
}

@font-face {
  font-family: sora_light;
  src: url(/fonts/Sora-Italic.otf)
}




body #parallax-tsiw {
  margin-bottom: 0px;
}

.content-asset p {
  margin: 0 auto;
}

.margin-top-10 {
  padding-top: 10px;
  margin-left: 20px;
  margin-top: 20px;

}

.margin-bot-10 {
  padding-bottom: 10px;
}



/* Typography */

/**************************/

#parallax-tsiw h1 {
  font-family: sora_bold;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #0e21a0;
  padding: 0;
  margin: 0;
}

#parallax-tsiw h2 {
  font-family: sora_extra_bold;
  font-size: 100px;
  letter-spacing: 10px;
  text-align: center;
  color: #d9b967;
  text-transform: uppercase;
  z-index: 10;
}

#parallax-tsiw h3 {
  margin-top: 5%;
  font-family: sora_medium;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #0e21a0;
}

#parallax-tsiw p {
  font-family: sora_bold;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}


/* formatação da primeira letra dos paragrafos entre imagens */ 
.campus,
.web,
.infra,
.employee {
  color: #0e21a0;
}



.carousel-inner .carousel-item .carousel-item img  {
  max-height: 10vh;
}


/* Section - Title */

/**************************/

#parallax-tsiw .title {
  background: #d9b967;
  padding: 60px;
  margin: 0 auto;
  text-align: center;
}

#parallax-tsiwg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */

/**************************/

#parallax-tsiw .block {
  background: white;
  padding: 40px;
  width: 100%;
  margin-right: 10%;
  margin-left: 0;
  text-align: center;
  justify-content: center;
}

#parallax-tsiw .block-gray {
  background: #f2f2f2;
  padding: 60px;
}

#parallax-tsiw .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.70;
}

#parallax-tsiw .one,
#parallax-tsiw .three,
#parallax-tsiw .two,
#parallax-tsiw .four {
  background-color: #d9d9d9;
  color: #0e21a0;
}




/* Section - Parallax */

/**************************/

#parallax-tsiw .parallax-one {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(/images/campus_images/Esmad_campus_rezise_blue.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#parallax-tsiw .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(/images/web_tecnologies_blue.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-tsiw .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(/images/esmad\ Labs_blue.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


#parallax-tsiw .parallax-four {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(/images/Web-designer-1_blue.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* estilização do botão Want to know more! */
.modal-btn-center {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}  

.modal-button {
  font-family: sora_bold;
  font-size: large;
  padding: 5px 25px;
  border: none;
  border-radius: 20px;
  color: #0e21a0;
  background-color: #d9b967;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.modal-button:hover {
  background-color: #0e21a0;
  border: none;
  color: #d9b967;
  transform: scale(1.2)
}





/* Extras */

/**************************/

#parallax-tsiw .line-break {
  border-bottom: 2px solid #9d44c0;
  width: 80%;
  margin: 0 auto;
}



/* Media Queries */

/**************************/

@media screen and (max-width: 959px) and (min-width: 768px) {

  #parallax-tsiw .block {
    padding: 40px;
    width: 620px;
  }

}

@media screen and (max-width: 767px) {

  #parallax-tsiw .block {
    padding: 30px;
    width: 100%;
  }

  #parallax-tsiw h3 {
    font-size: 10px;
    line-height: 0;
    font-weight: 300;
    letter-spacing: 2px;
  }

  #parallax-tsiw h2 {
    font-size: 28px;
  }

  #parallax-tsiw .parallax-one,
  #parallax-tsiw .parallax-two,
  #parallax-tsiw .parallax-three {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .modal-button {
    font-family: sora_bold;
    font-size:small;
    padding: 2px 15px;
    order: solid 1px #0e21a0;
    border-radius: 15px;
    color: #0e21a0;
    background-color: #d9b967;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
  }
  
  .modal-button:hover {
    background-color: #0e21a0;
    border: solid 1px #9d44c0;
    color: #d9b967;
    transform: scale(1.1)
  }

}

@media screen and (max-width: 479px) {

  #parallax-tsiw .block {
    padding: 20px;
    width: 100%;
  }
}